.msg-item {
  min-height: 100px;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.05);
  transition: box-shadow ease-out 0.5s;
}

.msg-item:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05),
              0 15px 100px 0 rgba(0, 0, 75, 0.12);
}

.msg-header {
  margin-bottom: 20px;
}

.msg-header .delete-btn {
  float: right;
}

.msg-header .name {
  color: #333;
  font-size: 22px;
}

.msg-header .time {
  display: block;
  padding-top: 10px;
  font-size: 14px;
  color: #888;
}

#message .content {
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  .msg-item {
    padding: 20px;
    margin-bottom: 20px;
  }
}
/* iPhone6 */
@media only screen and (max-width: 375px) {
  .msg-item {
    padding: 15px;
  }
}