html, body {
  height: 100%;
}

#root {
  height: 100%;
  padding-top: 0.1px;
}

.main-wrap {
  height: 100%;
}

.main-wrap > .content {
  overflow: auto;
  height: 100%;
  padding: 30px 200px;
}

@media only screen and (max-width: 1100px) {
  .main-wrap > .content {
    padding: 30px 150px;
  }
}

@media only screen and (max-width: 1000px) {
  .main-wrap > .content {
    padding: 30px 100px;
  }
}

@media only screen and (max-width: 1000px) {
  .main-wrap > .content {
    padding: 30px 50px;
  }
}

@media only screen and (max-width: 600px) {
  .main-wrap > .content {
    padding: 30px 20px;
  }
}